{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Редактирование типа техники</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_name" class="form-label">Название типа</label>
            {{ form.name.label_tag }}
            <input type="text" class="form-control" id="techTypeName" name="{{ form.name.name }}" value="{{ form.name.value }}" required>
            {% if form.name.errors %}
                <div class="text-danger">
                    {% for error in form.name.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label class="form-label">Дата создания</label>
            <input type="text" class="form-control readonly-field"
                   value="{{ object.created_at|date:'Y-m-d H:i' }}" readonly>
        </div>

        <div class="mb-3">
            <label class="form-label">Дата обновления</label>
            <input type="text" class="form-control readonly-field"
                   value="{{ object.updated_at|date:'Y-m-d H:i' }}" readonly>
        </div>

        <div class="mb-3">
            <label class="form-label">Удалено</label>
            <div class="readonly-field">
                {% if object.is_deleted %}
                    <span class="fw-bold text-purple" style="font-size: 1.2rem;">✔️</span>
                {% else %}
                    <span class="fw-bold text-purple" style="font-size: 1.2rem;">×</span>
                {% endif %}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>
{% endblock %}